* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*header starts*/
header {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    background-color: #2a607c;
    top: 0;
    position: -webkit-sticky;
    position: sticky;

}
header h1 {
    
    text-decoration: none;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    
}

header nav {
    margin: 7px 0;
}
header nav ul   {
    display: flex;
    flex-wrap: wrap;
   list-style-type: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
 li {
     text-align: center;
    margin-left: 35px;
    margin-right: 35px;
 }

span.seo {
    color: #d9dcd6;
        
    }

/*header ends*/




p {
    font-size: 16px;
}

.hero {
background-image: url("../images/digital-marketing-meeting.jpg");
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 30px;
  align-items: flex-start;
  height: 80vh;
  border-bottom: 40px;
  
}

/*specialization section starts*/

.especializations {
    margin-bottom: 20px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    margin-top: 30px;
}

.especializations img {
    max-height: 200px;
}

 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*specialization section ends*/

/*benefits section starts*/

.benefits {
    margin-top: 30px;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
h3{
    margin-bottom: 32px;
    color: #ffffff;
}


/*benefits section end*/

/*footer does not need a class*/
footer{
    display: flex;
    flex-wrap: wrap;
align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    flex-direction: column;
    width: 100%;

}
footer h2 {
    font-size: 20px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px)
{

}
@media screen and (max-width: 575px) {

}